body {
  padding-top: 70px;
}

.show-grid {
  margin-bottom: 15px;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  /* Todo: reconcile these */
  background-color: rgba(185,74,72,.15);
  border: 1px solid rgba(185,74,72,.2);
}