<div class="jumbotron">

  <h1>Podcast Made Easy!</h1>
  
  <p class="lead">Enjoy podcasting! - Regereceptio</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Die App</h2>
    <p>Podcasting ist nicht schwer. Wenn man weiß, worüber man reden soll. Um die Themen zu sortieren hilft Regereceptio.</p>
  </div>
  <div class="col-sm-6">
    <h2>Infrastruktur</h2>
    <p>Die App arbeitet nach dem Prinzipien von <a href="http://nobackend.org">NoBackend</a>. Die Infrastruktur kann selbst gehostet werden und funktioniert <i>Offline First</i></p>
  </div>
</div>