<div class="row">
  <div class="col-sm-4 col-sm-push-8">
    <form name="addTopicForm" class="form-horizontal">
      <fieldset>
        <legend>Neues Thema</legend>
        <div class="form-group">
          <label for="newTopic" class="control-label col-lg-2">Title</label>
          <div class="col-lg-10">
            <input class="form-control"
                   type="text" 
                   ng-model="newTopic"
                   id="newTopic"
                   required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button ng-disabled="!addTopicForm.$valid" 
                    ng-click="addTopic(newTopic)"
                    class="btn btn-default">
              Hinzufügen
            </button>
          </div>
        </div>
      </fieldset>
    </form>
    <form name="searchForm" class="form-horizontal">
      <fieldset>
        <legend>Suche</legend>
        <div class="form-group">
          <label for="inputSearch" class="control-label col-lg-2">Volltext</label>
          <div class="col-lg-10">
            <input class="form-control"
                   id="inputSearch"
                   type="text"
                   ng-model="search">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  
  <div class="col-sm-8 col-sm-pull-4">
      <div class="list-group">
        <div class="list-group-item" ng-repeat="topic in topics | orderBy: 'position' | filter: search">
          <h4 class="list-group-item-heading">{{topic.title}}</h4>
          <div class="list-group-item-text">
            <p>{{topic.body}}</p>
            <p>Sendung: {{topic.episode}}</p>
          </div>
          <div class="btn-group">
            <a href="/topic/{{topic._id}}/edit"
               class="btn btn-default btn-small">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <button type="button"
                    class="btn btn-danger btn-small"
                    ng-click="delete($index, topic._id, topic._rev)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div> <!-- /.list-group-item -->
      </div> <!-- /.list-group -->
    <div>
      <small>
        <span ng-show="search">Die Suche ist aktiv. </span>
        <span ng-hide="!topics.length">Insgesamt sind {{topics.length}} Einträge vorhanden.</span>
        <span ng-show="!topics.length">Insgesamt sind keine Einträge vorhanden.</span>
      </small>
    </div>
  </div>
</div>