<div class="row">
  
  <div class="col-12">
    <h1>Replizieren <small>Inhalte synchronisieren</small></h1>
  </div>
  
  <div class="col-12">
    <p class="lead">
      Zum synchronisieren der Daten zwischen mehreren Geräten wird eine 
      CouchDB-Instanz benötigt. Details zur CouchDB findest du auf der
      Internetseite der Datenbank unter
      <a href="http://couchdb.org">couchdb.org</a>.
    </p>
  </div>
  
  <div class="col-12">
    <form name="newReplicate" class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label for="inputRemoteDB" class="col-lg-2 control-label">
            CouchDB-URL
          </label>
          <div class="col-lg-10" ng-class="{ 'has-error': newReplicate.inputRemoteDB.$error.url }">
            <input type="url"
                   class="form-control"
                   placeholder="CouchDB-URL"
                   id="inputRemoteDB"
                   name="inputRemoteDB"
                   ng-model="remoteDB"
                   required>
            <span class="help-block">
              Ein URL zu einer CouchDB-Datenbank. Sollte eine Anmeldung
              erforderlich sein, nutze bitte HTTP-Basic-Auth. Das ist ein URL
              mit HTTP-Basic-Auth:
              <code>http://user:password@domain.tld/database/</code>.
            </span>
          </div>
          <div class="col-lg-10 col-lg-offset-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="newReplicate.continuous"> Kontinuierlich
              </label>
            </div>
          </div>
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit"
                    class="btn btn-default"
                    ng-disabled="!newReplicate.$valid"
                    ng-click="replicateTo(remoteDB, newReplicate)">
              Replizierung starten
            </button>
            <span class="help-block">Nach dem Hinzufügen kann einige Zeit vergehen bis die Daten vollständig repliziert sind. Habe bitte Geduld.</span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  
</div> <!-- /.row -->

<div class="row">
  <div class="col-12">
    <h2>Datenbank zurücksetzen</h2>
  </div>
  <div class="col-6">
    <button class="btn btn-danger" ng-click="resetDatabase()">Zurücksetzten</button>
  </div>
</div>

<div class="row">
  
  <div class="col-12">
    <h2>Aktive Replizierungen</h2>
  </div>
  
  <div class="col-12" ng-repeat="replicator in replicators">
    <dl class="dl-horizontal">
      <dt>Host</dt>
      <dd>{{replicator.remoteDb}}</dd>
      <dt>Andauernd</dt>
      <dd ng-show="replicator.options.continuous">Ja</dd>
      <dd ng-show="!replicator.options.continuous">Nein</dd>
      <dt>Aktionen</dt>
      <dd><button class="btn btn-danger btn-xs" ng-click="removeReplicator($index)">
        <span class="glyphicon glyphicon-remove"></span>
      </button></dd>
    </dl>
  </div>
  
  <hr>
  
</div>